 /*--Name: Lei Luo 
File: coursecss.css
Date: July 24, 2023
Description: CSS file for Lab 5
*/

 body {
     font-family: Arial, Helvetica, sans-serif;
     color: black;
     padding: 20px 20px 20px 20px;

 }

 

hr {
    border-top: 1px solid #ccc;
    margin: 5px 20px 10px 0px;

    width: 90%;
 
}
 .formcontainer {
     width: 100%;
     display: block;
    

 }

 .textfield {

     margin-bottom: 5px;
     text-align: left;
     margin: 5px;

 }

 .checkbox {
     margin-bottom: 10px;
 }
 

 input[type="text"],
 input[type="password"] {
     width: 90%;
     margin: 5px;
     padding: 10px;
     border: 1px solid #ccc;
 }

 
button[type="submit"] {
    background-color:rgb(0, 123, 255);
    color: white;
    padding: 10px 15px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 button[type="submit"]:hover {
    border: 2px solid black;
  }
  
  button[type="reset"] {
    background-color: #f44336;
    color: white;
    padding: 10px 15px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button[type="reset"]:hover {
    border: 2px solid black;
  }
  